/* Arrow Slider on OWL Carousel */
.owl-carousel-client .owl-prev {
    width: 15px;
    /* height: 100px; */
    position: absolute;
    top: 0;
    left: -5px;
    display: block !important;
    border: 0px solid black;
}

.owl-carousel-client .owl-next {
    width: 15px;
    /* height: 100px; */
    position: absolute;
    top: 0;
    right: -10px;
    display: block !important;
    border: 0px solid black;
}